<div class="page-header">

  <h1>Welcome to Pintxo Pop</h1>
  <p>Pintxo Pop is a unique tapas restaurant.  We open for a week at a time and move locations for each opening.</p>
  <p>We are food lovers and after a recent trip to Spain we fell in love with tapas.  After returning back to Wales, we found it hard to find great tapas. So we created this restaurant.  We hope you try it out for yourselves!</p>
</div>

<h2>How it works</h2>
<li>Sign up for an account</li>
<li>Create a reservation</li>
<!-- <li>Submit payment of $40/per person to confirm your reservation</li> -->
<li>Come to our restaurant and enjoy your meal!</li>
<li>We will email you notices about future restaurant pop-ups</li>

<p></p>
<p></p>
<% user = User.find_by(:id => session[:user_id]) %>
<% if user.present? %>
  <%= link_to "Create a reservation now >", "/reservations", :class => "btn btn-md btn-success" %>
   <% else  %>
  <%= link_to "Get Started", "/users/new", :class => "btn btn-md btn-success" %>

<% end  %>

