<div class="page-header">
  <h1>A reservation was created for <%= @reservation.day %> at <%= @reservation.time %> </h1>
  <p>It will be under <%= session[:user_id].first_name %></p>
  <p>for <%= reservation.party_size %></p>
</div>
