<h1>About Me</h1>

<p>My name is Sarah. I spent loads of money getting my MBA in 'Merica only to fail programming.

Upon my defeat, I moved back across the pond and opened this delightful pop up restaurant.

I hope you enjoy it.</p>


<p></p>

<img src= "http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/6/005/034/245/2ba6fce.jpg">
<p></p>

Find and like me on <a href= "https://www.facebook.com/sarah.gibson.54584982?fref=browse_search">Facebook</a>
