<h1>Directions</h1>

<form action="/location/results">

<input id="x" name="highways" input type="checkbox">
<label for="x">Avoid highways</label>



<div>
  <label for="origin"> Enter an origin city:</label>
  <input id="origin" name="origin" type="text">
</div>

<div>
  <label for="destination"> Enter a destination city:</label>
  <input id="destination" name="destination" type="text"
</div>

<div>

<input type="submit" value="Get Directions">
</div>
