<h1>Directions</h1>

<h3>This week our restaurant is at 1331 Bay St. in San Francisco</h3>

<form action="/locations/results">

<input id="x" name="highways" input type="checkbox">
<label for="x">Avoid highways</label>



<div>
  <label for="origin"> Enter an origin city:</label>
  <input id="origin" name="origin" type="text">
</div>

<div>
  <input id="destination" name="destination" value="1331 Bay St, San Francisco, CA 94123" type="hidden"
</div>

<div>

<input type="submit" value="Get Directions">
</div>

<p></p>
<p></p>
<iframe height="350" marginheight="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1331+Bay+St,+San+Francisco,+California+94123&ammmp;sll=37.8036725,-122.4289748&amp;sspn=0.022722,0.038409&amp;ie=UTF8&amp;hq=&amp;hnear=1331+Bay+St,+San+Francisco,+California+94123&amp;ll=37.8036725,-122.4289748&amp;spn=0.01176,0.019205&amp;z=14&amp;output=embed" frameborder="0" width="425" marginwidth="0" scrolling="no"></iframe><br />
<small><a style="text-align: left; color: #0000ff" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1331+Bay+St,+San+Francisco,+California+94123&amp;sll=37.8036725,-122.4289748&amp;sspn=0.022722,0.038409&amp;ie=UTF8&amp;hq=&amp;hnear=1331+Bay+St,+San+Francisco,+California+94123&amp;ll=37.8036725,-122.4289748&amp;spn=0.01176,0.019205&amp;z=14">View Larger Map</a></small>
<h3><br />
